.menulist-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
  border-bottom: 1px solid black;
}

.menu-search-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-search-info input {
  width: 300px;
  height: 50px;
  font-size: 30px;
  margin-bottom: 15px;
}

.menu-search-btnBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}

.menu-search-btn,
.menu-search-clear {
  width: 120px;
  height: 40px;
  font-size: 25px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.menu-search-btn {
  background-color: #1428a0;
}

.menu-search-clear {
  background-color: #999999;
}

.menu-category-choose {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px; /* 상하, 좌우 */
}

.menu-category-btn01,
.menu-category-btn02 {
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu-category-btn01.active,
.menu-category-btn02.active {
  background-color: #1428a0;
  color: white;
}

@media (max-width: 412px) {
  .menu-search-bar {
    margin: 3.64vw 0vw;
  }

  .menu-search-info input {
    width: 72.82vw;
    height: 12.14vw;
    font-size: 7.28vw;
    margin-bottom: 3.64vw;
  }

  .menu-search-btnBox {
    margin-bottom: 3.64vw;
  }

  .menu-search-btn,
  .menu-search-clear {
    width: 29.13vw;
    height: 9.71vw;
    font-size: 6.07vw;
    border-radius: 2.43vw;
  }

  .menu-category-choose {
    margin: 4.85vw 0vw;
  }

  .menu-category-btn01,
  .menu-category-btn02 {
    width: 33.99vw;
    height: 10.92vw;
    border-radius: 6.07vw;
    font-size: 4.85vw;
  }
}
