.chart-box {
    background-color: #fff;
    border-radius: calc(10 / 1440 * 100vw);
    padding: calc(20 / 1440 * 100vw);
    box-shadow: 0 calc(4 / 1440 * 100vw) calc(8 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
    height: calc(300 / 1440 * 100vw);
    width: 100%;
}

.chart-box h3 {
    margin: 0 0 calc(20 / 1440 * 100vw);
    font-size: 1.2rem;
    font-weight: bolder;
    color: #333;
}

.chart {
    height: calc(200 / 1440 * 100vw);
}
