.edit-option-container {
  padding-top: 90px;
  max-width: 600px;
  margin: 0 auto;
}

.edit-option-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px; /* Add some space between buttons */
}

.save-button:hover {
  background-color: #0056b3;
}

/* New styles for delete button */
.delete-button {
  padding: 10px 20px;
  background-color: #dc3545; /* Bootstrap red */
  color: white;
  border: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333; /* Darker red for hover */
}
