.add-menu-container {
  width: 100%;
  max-width: calc(1000 / 1440 * 100vw);
  margin: 0 auto;
  padding: calc(80 / 1440 * 100vw) calc(20 / 1440 * 100vw) calc(20 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  background-color: #f9f9f9;
  border-radius: calc(8 / 1440 * 100vw);
  box-shadow: 0 calc(4 / 1440 * 100vw) calc(6 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
}

.add-menu-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: calc(20 / 1440 * 100vw);
}

.add-menu-form {
  display: flex;
  flex-direction: column;
  gap: calc(20 / 1440 * 100vw);
}

.form-left,
.form-right {
  flex: 1; 
}

.form-group {
  margin-bottom: calc(15 / 1440 * 100vw);
}

.form-group label {
  font-size: 1.2rem;
  margin-bottom: calc(5 / 1440 * 100vw);
  display: block;
}

.form-group input,
.form-group textarea,
.option-selector select,
.form-group select {
  width: 100%;
  padding: calc(10 / 1440 * 100vw);
  font-size: 1rem;
  border: calc(1 / 1440 * 100vw) solid #ccc;
  border-radius: calc(4 / 1440 * 100vw);
}

.form-group textarea {
  resize: vertical;
  height: calc(100 / 1440 * 100vw);
}

.radio-group {
  display: flex;
  gap: calc(20 / 1440 * 100vw);
}

.radio-group label {
  font-size: 1rem;
}

.form-group input[type="radio"] {
  margin-right: calc(5 / 1440 * 100vw);
}

.form-group input[type="file"] {
  font-size: 1rem;
}

.option-selector {
  display: flex;
  align-items: center;
  gap: calc(10 / 1440 * 100vw);
}

.add-option-button {
  background-color: #28a745;
  color: white;
  padding: calc(8 / 1440 * 100vw) calc(12 / 1440 * 100vw);
  font-size: 1rem;
  border: none;
  border-radius: calc(4 / 1440 * 100vw);
  cursor: pointer;
  display: inline-block;
}

.add-option-button:hover {
  background-color: #218838;
}


.added-options-list {
  list-style-type: none;
  padding-left: 0;
}

.added-options-list li {
  display: flex;
  justify-content: space-between;
  padding: calc(8 / 1440 * 100vw);
  background-color: #f1f1f1;
  margin-bottom: calc(5 / 1440 * 100vw);
  border-radius: calc(4 / 1440 * 100vw);
}

.remove-option-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: calc(4 / 1440 * 100vw);
  padding: calc(5 / 1440 * 100vw) calc(10 / 1440 * 100vw);
  cursor: pointer;
}

.remove-option-button:hover {
  background-color: #c82333;
}

/* Submit button - appears at the bottom of the content */
.submit-button {
  background-color: #007bff;
  color: white;
  padding: calc(10 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  font-size: 1.2rem;
  border: none;
  border-radius: calc(4 / 1440 * 100vw);
  cursor: pointer;
  margin-top: calc(20 / 1440 * 100vw); 
  width: 100%;
  max-width: calc(600 / 1440 * 100vw);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.submit-button:hover {
  background-color: #0056b3;
}
