.select-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: calc(8 / 1440 * 100vw);
}

.select-category button {
  padding: calc(10 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  font-size: calc(16 / 1440 * 100vw);
  background-color: #2D8DFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: calc(5 / 1440 * 100vw);
}
