html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

#app-container {
  width: 100%;
  max-width: 412px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fixed-top {
  flex-shrink: 0;
}

.scrollable-content {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed-bottom {
  flex-shrink: 0;
}

/* 크로스 브라우저 스크롤바 숨기기 */
.scrollable-content {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollable-content::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 엣지 */
}

/* 반응형 처리를 위해 화면 너비가 412px 이하일 때 */
@media (max-width: 412px) {
  #app-container {
    width: 100%; /* 화면 너비에 맞게 100%로 설정 */
    height: 100vh; /* 화면 높이에 맞게 100vh로 설정 */
  }
}
