.down-navbar-container {
  display: flex;
  width: 100%;
  height: calc(80 / 1440 * 100vw);
  background-color: #dedede;
  align-items: center;
}

.down-navbar-container h1 {
  font-size: calc(35 / 1440 * 100vw);
  margin: 0;
}
