.up-navbar-container {
  display: flex;
  width: 412px;
  height: 60px;
  background-color: #dedede;
  justify-content: space-between;
  align-items: center;
}

.upnav-leftside {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.move-before-page {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.upnav-logout p {
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.upnav-rightside {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.site-notification {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.order-state-check {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 412px) {
  .up-navbar-container {
    width: 100vw;
  }

  .upnav-leftside {
    margin-left: 2.42vw;
  }

  .move-before-page {
    width: 9.71vw;
    height: 9.71vw;
  }

  .upnav-logout p {
    font-size: 6.07vw;
  }

  .upnav-rightside {
    margin-right: 3.64vw;
  }

  .site-notification {
    width: 9.71vw;
    height: 9.71vw;
  }

  .order-state-check {
    width: 9.71vw;
    height: 9.71vw;
    margin-right: 2.42vw;
  }
}
