.up-navbar-container {
  display: flex;
  width: 412px;
  height: 60px;
  background-color: #dedede;
  justify-content: space-between;
  align-items: center;
}

.upnav-leftside {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.move-before-page {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.upnav-rightside {
  display: flex;
  margin-right: 15px;
  align-items: center;
}

.order-state-check,
.user-logout {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0px 10px;
}

@media (max-width: 412px) {
  .up-navbar-container {
    width: 100vw;
  }

  .upnav-leftside {
    margin-left: 2.42vw;
  }

  .move-before-page {
    width: 9.71vw;
    height: 9.71vw;
  }

  .upnav-rightside {
    margin-right: 3.64vw;
  }

  .order-state-check,
  .user-logout {
    width: 9.71vw;
    height: 9.71vw;
    margin: 0vw 2.43vw;
  }
}
