/* Wrapper to center content */
.center-wrapper {
    padding-top: calc(65 / 1440 * 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Wrapper for sort and filter options */
.filter-sort-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%; /* Matches the width of the table */
    margin-bottom: calc(10 / 1440 * 100vw);
}

.filter-sort-wrapper select {
    padding: calc(8 / 1440 * 100vw);
    margin-right: calc(10 / 1440 * 100vw);
}

/* Table styling */
.review-table {
    width: 80%;
    max-width: calc(2000 / 1440 * 100vw);
    max-height: calc(1200 / 1440 * 100vw); /* Set max height */
    border-collapse: collapse;
    background-color: white;
    box-shadow: calc(0 / 1440 * 100vw) calc(4 / 1440 * 100vw) calc(8 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
}

.review-table th, .review-table td {
    border: calc(1 / 1440 * 100vw) solid #ddd;
    padding: calc(10 / 1440 * 100vw);
    text-align: center;
}

/* Ensure all rows, even empty ones, have the same height */
.review-table tr {
    min-height: calc(50 / 1440 * 100vw); 
    height: calc(57 / 1440 * 100vw); 
}

.review-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.review-table input[type="checkbox"] {
    transform: scale(1.2);
}

.review-table button {
    padding: calc(5 / 1440 * 100vw) calc(8 / 1440 * 100vw);
    background-color: #f2f2f2;
    border: calc(1 / 1440 * 100vw) solid #ccc;
    cursor: pointer;
}

.review-table button:hover {
    background-color: #ddd;
}

/* Empty row styling */
.empty-row td {
    background-color: #f9f9f9;
}

/* Pagination styling */
.pagination {
    position: relative;
    margin-top: calc(20 / 1440 * 100vw);
    margin-bottom: calc(30 / 1440 * 100vw);
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: calc(10 / 1440 * 100vw) calc(15 / 1440 * 100vw);
    margin: 0 calc(5 / 1440 * 100vw);
    border: calc(1 / 1440 * 100vw) solid #ddd;
    background-color: #f2f2f2;
    cursor: pointer;
}

.pagination button.active {
    background-color: #ddd;
    font-weight: bold;
}
