.option-menu-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.option-menu-title h1 {
  margin: 0;
  font-size: 45px;
  text-align: center;
}

.option-select-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.option-select-title {
  width: 100%;
  display: flex;
  align-items: center;
}

.option-select-title h2 {
  margin: 0;
  margin-left: 10px;
  font-size: 30px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.option-box {
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 8px;
  cursor: pointer;
  text-align: center;
  word-break: keep-all; /* 단어가 중간에 잘리는 것 방지 */
}

.option-box p {
  font-size: 30px;
  margin: 0;
}

.option-box.selected {
  background-color: #1428a0;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid black;
}

.option-none-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option-none {
  width: 90%;
  border: 1px solid #cccccc;
  border-radius: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  word-break: keep-all; /* 단어가 중간에 잘리는 것 방지 */
}

.option-totalPrice-box {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 30px 0px;
}

.option-totalPrice-box p {
  font-size: 30px;
  margin: 0;
}

.option-totalPrice-box span {
  border: 1px solid #666666;
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
}

.option-menu-add {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.option-menu-addBtn {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #1428a0;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 412px) {
  .option-menu-title {
    margin: 7.28vw 0vw;
  }

  .option-menu-title h1 {
    font-size: 10.92vw;
  }

  .option-select-box {
    margin-bottom: 7.28vw;
  }

  .option-select-title h2 {
    margin-left: 2.43vw;
    font-size: 7.28vw;
  }

  .option-box {
    width: 43.69vw;
    height: 43.69vw;
    border: 0.24vw solid #ccc;
    border-radius: 2.43vw;
    margin: 1.94vw;
  }

  .option-box p {
    font-size: 7.28vw;
  }

  .option-box.selected {
    border: 0.73vw solid black;
  }

  .option-none {
    border: 0.24vw solid #cccccc;
    border-radius: 2.43vw;
    font-size: 6.07vw;
  }

  .option-totalPrice-box {
    margin: 7.28vw 0vw;
  }

  .option-totalPrice-box p {
    font-size: 7.28vw;
  }

  .option-totalPrice-box span {
    border: 0.24vw solid #666666;
    border-radius: 1.94vw;
    padding: 1.21vw;
  }

  .option-menu-add {
    margin-bottom: 3.64vw;
  }

  .option-menu-addBtn {
    width: 72.82vw;
    height: 14.56vw;
    border-radius: 2.43vw;
    font-size: 7.28vw;
  }
}
