.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(30 / 1440 * 100vw) 0;
}

.store-title h1 {
  font-weight: bold;
  font-size: calc(40 / 1440 * 100vw);
  margin: 0;
}

.SST-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.SST-search-img {
  width: calc(250 / 1440 * 100vw);
  height: calc(250 / 1440 * 100vw);
  border: calc(5 / 1440 * 100vw) solid black;
  border-radius: 90%;
}
