.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  text-align: center;
}

.store-title h1 {
  font-weight: bold;
  font-size: 35px;
  margin: 0;
  word-break: keep-all;
}

.SST-search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.SST-search-img {
  width: 250px;
  height: 250px;
  border: 5px solid black;
  border-radius: 90%;
}

@media (max-width: 412px) {
  .store-title {
    margin: 7.28vw 0vw;
  }

  .store-title h1 {
    font-size: 8.5vw;
  }

  .SST-search-btn {
    margin-bottom: 2.43vw;
  }

  .SST-search-img {
    width: 60.68vw;
    height: 60.68vw;
    border: 1.21vw solid black;
  }
}
