* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .login-container body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container form{
    padding-top: calc(100 / 1440 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-image {
    width: calc(200 / 1440 * 100vw);
    height: auto;
    margin-bottom: calc(40 / 1440 * 100vw);
  }
  
  .login-input {
    width: calc(350 / 1440 * 100vw);
    padding: calc(20 / 1440 * 100vw);
    margin: calc(15 / 1440 * 100vw) 0;
    border: 1px solid #ccc;
    border-radius: calc(30 / 1440 * 100vw);
    background-color: #e0e0e0;
    font-size: calc(18 / 1440 * 100vw);
    text-align: center;
  }
  
  .login-button {
    width: calc(350 / 1440 * 100vw);
    padding: calc(20 / 1440 * 100vw);
    background-color: #2D8DFF;
    color: white;
    border: none;
    border-radius: calc(30 / 1440 * 100vw);
    font-size: calc(18 / 1440 * 100vw);
    cursor: pointer;
    margin-top: calc(25 / 1440 * 100vw);
  }
  
  .login-button:hover {
    background-color: #237ad1;
  }
  
  .signup-text {
    margin-top: calc(25 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    color: #666;
  }
  
  .signup-link {
    color: #2D8DFF;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  