.order-detail {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: calc(8 / 1440 * 100vw);
    box-shadow: calc(0 / 1440 * 100vw) calc(4 / 1440 * 100vw) calc(6 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
}

.order-header {
    width: 100%;
    background-color: #F3F1F1;
    padding: calc(10 / 1440 * 100vw);
    
}

.order-detail-content {
    padding: calc(20 / 1440 * 100vw);
    flex-grow: 1;
    overflow-y: auto;
}

.order-detail table {
    width: 100%;
    border-collapse: collapse;
}

.order-detail th, .order-detail td {
    padding: calc(8 / 1440 * 100vw);
    text-align: left;
    border-bottom: calc(1 / 1440 * 100vw) solid #ddd;
}

.total-and-buttons {
    padding: calc(20 / 1440 * 100vw);
    background: #fff; 
    border-top: calc(1 / 1440 * 100vw) solid #ddd; 
}

.total-amount {
    font-size: calc(30 / 1440 * 100vw);
    color: red;
    margin-bottom: calc(10 / 1440 * 100vw); /* Space before buttons */
    text-align: right;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons button {
    flex: 1;
    margin: 0 calc(5 / 1440 * 100vw);
    padding: calc(10 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    border-radius: calc(5 / 1440 * 100vw);
    color: white;
    cursor: pointer;
    border-color: white;
}

.action-buttons .accept {
    background-color: #2D8DFF;
}

.action-buttons .cancel {
    background-color: #FF5B5B; 
}

.action-buttons .complete {
    background-color: #2D8DFF; 
}

.order-status {
    color: red;
}
