.order-detail {
    width: 100%;
    height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: calc(8 / 1440 * 100vw);
    box-shadow: calc(0 / 1440 * 100vw) calc(4 / 1440 * 100vw) calc(6 / 1440 * 100vw) rgba(0, 0, 0, 0.1);
}

.order-header {
    width: 100%;
    background-color: #F3F1F1;
    padding: calc(10 / 1440 * 100vw);
    
}

.order-detail-content {
    padding: calc(20 / 1440 * 100vw);
    flex-grow: 1;
    overflow-y: auto;
}

.order-detail table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* 테이블의 각 셀의 너비를 고정 */
}

.order-detail th, .order-detail td {
    padding: calc(8 / 1440 * 100vw);
    text-align: left;
    border-bottom: calc(1 / 1440 * 100vw) solid #ddd;
    word-wrap: break-word; /* 긴 텍스트가 있을 경우 줄바꿈 처리 */
}

/* 각 열의 너비를 설정 (비율에 맞게 설정) */
.order-detail th:nth-child(1), .order-detail td:nth-child(1) {
    width: 60%; /* 메뉴 이름 */
}

.order-detail th:nth-child(2), .order-detail td:nth-child(2) {
    width: 20%; /* 수량 */
}

.order-detail th:nth-child(3), .order-detail td:nth-child(3) {
    width: 20%; /* 금액 */
}


.total-and-buttons {
    padding: calc(20 / 1440 * 100vw);
    background: #fff; 
    border-top: calc(1 / 1440 * 100vw) solid #ddd; 
}

.total-amount {
    font-size: calc(30 / 1440 * 100vw);
    color: red;
    margin-bottom: calc(10 / 1440 * 100vw);
    text-align: right;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.action-buttons button {
    flex: 1;
    margin: 0 calc(5 / 1440 * 100vw);
    padding: calc(10 / 1440 * 100vw);
    font-size: calc(16 / 1440 * 100vw);
    border-radius: calc(5 / 1440 * 100vw);
    color: white;
    cursor: pointer;
    border-color: white;
}

.action-buttons .accept {
    background-color: #2D8DFF;
}

.action-buttons .cancel {
    background-color: #FF5B5B; 
}

.action-buttons .complete {
    background-color: #2D8DFF; 
}

.order-status {
    color: red;
}
