.myorders-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myorders-order-item {
  width: 90%;
  min-height: 200px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.myorders-order-date,
.myorders-order-store,
.myorders-info-btns,
.myorders-order-price {
  width: 90%;
}

.myorders-order-date p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}

.myorders-order-store p,
.myorders-order-price p {
  text-align: end;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.myorders-info-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.myorders-detail-btn,
.myorders-review-btn01,
.myorders-review-btn02 {
  width: 150px;
  height: 60px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.myorders-detail-btn,
.myorders-review-btn02 {
  background-color: #1428a0;
}

.myorders-review-btn01 {
  background-color: #2db400;
}

@media (max-width: 412px) {
  .myorders-order-item {
    min-height: 48.54vw;
    border: 0.24vw solid #cccccc;
    border-radius: 2.43vw;
    margin-bottom: 3.64vw;
  }

  .myorders-order-date p {
    font-size: 6.07vw;
  }

  .myorders-order-store p,
  .myorders-order-price p {
    font-size: 4.37vw;
  }

  .myorders-detail-btn,
  .myorders-review-btn01,
  .myorders-review-btn02 {
    width: 36.41vw;
    height: 14.56vw;
    border-radius: 2.43vw;
    font-size: 4.85vw;
  }
}
