.menu-page {
  padding-top: calc(110 / 1440 * 100vw);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menu-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: calc(20 / 1440 * 100vw);
}

.menu-list {
  width: 65%;
}

.menu-detail-container {
  width: 30%;
  padding-left: calc(20 / 1440 * 100vw);
}

.menu-actions {
  display: flex;
  justify-content: flex-end;
  gap: calc(10 / 1440 * 100vw);
  position: absolute;
  top: calc(70 / 1440 * 100vw);
  right: calc(20 / 1440 * 100vw);
}

.menu-actions button {
  background-color: #007bff;
  color: white;
  padding: calc(10 / 1440 * 100vw) calc(20 / 1440 * 100vw);
  border: none;
  border-radius: calc(5 / 1440 * 100vw);
  cursor: pointer;
}

.menu-actions button:hover {
  background-color: #0056b3;
}
