* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .signup-container body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container form {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image {
    width: 150px;
    height: auto;
    margin-bottom: 40px;
  }
  
  .signup-input {
    width: 350px;
    padding: 20px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #e0e0e0;
    font-size: 18px;
    text-align: center;
    transition: border-color 0.3s ease;
  }
  
  .signup-input:focus {
    outline: none;
    border-color: #2D8DFF;
  }
  
  .signup-input.error {
    border-color: red !important;
  }
  
  .signup-button {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    background-color: #2D8DFF;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .signup-button:hover {
    background-color: #237ad1;
  }
  