* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .signup-container body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image {
    width: calc(150 / 1440 * 100vw);
    height: auto;
    margin-bottom: calc(20 / 1440 * 100vw);
  }
  
  .signup-input {
    width: calc(350 / 1440 * 100vw);
    padding: calc(20 / 1440 * 100vw);
    margin: calc(15 / 1440 * 100vw) 0;
    border: 1px solid #ccc;
    border-radius: calc(30 / 1440 * 100vw);
    background-color: #e0e0e0;
    font-size: calc(18 / 1440 * 100vw);
    text-align: center;
    transition: border-color 0.3s ease;
  }
  
  .signup-input:focus {
    outline: none;
    border-color: #2D8DFF;
  }
  
  .signup-input.error {
    border-color: red !important;
  }
  
  .signup-button {
    width: 100%;
    max-width: calc(350 / 1440 * 100vw);
    padding: calc(15 / 1440 * 100vw);
    background-color: #2D8DFF;
    color: white;
    border: none;
    border-radius: calc(30 / 1440 * 100vw);
    font-size: calc(18 / 1440 * 100vw);
    cursor: pointer;
    margin-top: calc(20 / 1440 * 100vw);
  }
  
  .signup-button:hover {
    background-color: #237ad1;
  }
  