.cartmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 배경 어둡게 */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartmodal-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 412px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartmodal-upside {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cartmodal-close-btn {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
}

.cartmodal-menu {
    width: 100%;
}

#cartmodal-item-none {
    text-align: center;
    font-size: 20px;
}

.cartmodal-menu-list {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.cartmodal-category-counts {
    width: 95%;
}

.cartmodal-category-counts p {
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.cartmodal-item {
    width: 95%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    margin: 15px 0px;
}

.cartmodal-item-btn {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.cartmodal-item-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.cartmodal-item-info {
    width: 100%;
    margin: 5px;
    text-align: start;
}

.cartmodal-item-info p {
    margin: 0;
}

#cartmodal-item-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    word-break: keep-all; /* 단어가 중간에 잘리는 것 방지 */
}

#cartmodal-item-options {
    font-size: 25px;
    color: #999999;
    word-break: keep-all; /* 단어가 중간에 잘리는 것 방지 */
}

#cartmodal-item-price {
    font-size: 35px;
    text-align: end;
    margin-right: 10px;
}

.cartmodal-total-price {
    width: 95%;
}

.cartmodal-total-price h3 {
    text-align: end;
    font-size: 35px;
    font-weight: bold;
}

.cartmodal-total-price span {
    /* border: 1px solid #666666; */
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
}

.cartmodal-menu-clear,
.cartmodal-menu-purchase {
    width: 300px;
    height: 60px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cartmodal-menu-purchase {
    background-color: #1428a0;
    font-size: 35px;
    color: #ffffff;
}
