/* OrderList 컴포넌트 고정 위치 */
.order-list {
    position: fixed;
    top: 150px; /* 탭 아래 */
    left: 20px;
    width: 60%;
    height: calc(100vh - 250px); /* 네비게이션바와 탭을 제외한 전체 높이 */
    display: flex;
    flex-direction: column; /* Structures the component as a column */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevents content from overflowing */
}

.order-list-content {
    overflow-y: auto;
    margin-bottom: 50px; /* Reserve space for the pagination */
}

.order-list table {
    width: 100%;
    border-collapse: collapse;
}

.order-list th, .order-list td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.order-list tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.status-text {
    color: red;
}

/* Pagination styling */
.pagination {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: white;
}

.pagination button {
    padding: 12px 50px;
    margin: 0 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 25px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination span {
    font-size: 25px;
}
